<h1>Administration Menu</h1>
<h2></h2>
<p>
  <%= link_to 'Modify Physicians', physicians_path %>
  <%= link_to 'Modify Dermatology Codes', derm_codes_path %>
  <%= link_to 'Modify Time Slots', time_slots_path %>
  <%= link_to 'Completed Invoices', new_appointment_path %>
  <%= link_to 'Back', :back %>


  <!-- <%= link_to 'Appointments', appointments_path %>
  -->
</p>
