<h1>CIS 4339 Individual Project</h1>
<p>
  <!-- <%= link_to 'New Appointment', new_appointment_path %>
 -->
  <%= link_to 'Appointments', appointments_path %>

<!--  <%= link_to 'Patients', patients_path %>
 -->
  <%= link_to 'Office Menu', officemenu_index_path %>
 <!-- <%= link_to 'Appointments', appointments_path %>
  -->
</p>
