<%= form_for(@derm_code) do |f| %>
  <% if @derm_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@derm_code.errors.count, "error") %> prohibited this derm_code from being saved:</h2>

      <ul>
      <% @derm_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.number :amount %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
