<h1>Listing Dermatology Codes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @derm_codes.each do |derm_code| %>
      <tr>
        <td><%= derm_code.code %></td>
        <td><%= derm_code.description %></td>
        <td><%= derm_code.amount %></td>
        <td><%= link_to 'Show', derm_code %></td>
        <td><%= link_to 'Edit', edit_derm_code_path(derm_code) %></td>
        <td><%= link_to 'Destroy', derm_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Derm code', new_derm_code_path %>
<%= link_to 'Back' , :back %>