<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @derm_code.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @derm_code.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @derm_code.amount %>
</p>

<%= link_to 'Edit', edit_derm_code_path(@derm_code) %> |
<%= link_to 'Back', derm_codes_path %>
