<h1>Office Menu</h1>

<p>
  <%= link_to 'Physicians Appointments', appointments_path %>
  <%= link_to 'Invoice', appointments_path %>
  <%= link_to 'Administration', admin_index_path %>
  <%= link_to 'Back', :back %>


  <!-- <%= link_to 'Appointments', appointments_path %>
  -->
</p>
