<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :patient_id %><br>
   <!-- <%= f.number_field :patient_id %>
   -->
    <%= f.collection_select :patient_id, Patient.order(:name),:id,:name, include_blank: true %>
    <%= link_to 'New Patient', new_patient_path %>

    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.label :Time %><br>
      <%= f.collection_select :time_slot_id, TimeSlot.all, :id, :start_time, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :Time %><br>
      <%= f.collection_select :time_slot_id, TimeSlot.all, :id, :end_time, include_blank: true %>
    </div>

    <div class="field">
            <%= f.label :Reason %><br>
            <%= f.text_area :reason %>
          </div>


    <div class="field">
      <%= f.label :physician_id %><br>
      <!--<%= f.number_field :physician_id %>
-->
      <%= f.collection_select :physician_id, Physician.order(:name),:id,:name, include_blank: true %>
      <%= link_to 'New Physician', new_physician_path %>
    </div>

    <div class="field">
      <%= f.label :DermCode %><br>
      <%= f.collection_select :derm_code, DermCode.order(:code),:id,:code, include_blank: true %>
    </div>

    <div class="field">
      <%= f.label :note %><br>
      <%= f.text_area :note %>
    </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.collection_select :status, Status.order(:name),:id,:name, include_blank: true %>
    </div>
    </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
